<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invalid | url</title>
  </head>
  <body>
    <div
      style="
        margin-top: 150px;
        background-color: whitesmoke;
        padding: 20px;
        box-shadow: 2px 2px 20px;
      "
    >
      <h1 style="text-align: center; color: red">INVALID URL</h1>
      <input
        onclick="window.location.href = 'http://127.0.0.1:5000'"
        style="
          font-family: Georgia, 'Times New Roman', Times, serif;
          font-size: 20px;
          padding: 10px;
          background-color: green;
          border: none;
          color: lightgreen;
          width: 100%;
        "
        type="button"
        value="Back to safe"
      /> 
    </div>
  </body>
  <!-- <script>
    function url(){
          window.location.href = 'https://t.me/Dollar_coin_mining_bot'
    }
</script> -->
</html>
